.feed{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.1rem;
}

.feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid gainsboro; */
    padding: 1rem;
}

.feed-container > div{
    margin-bottom: 2rem;
}

.create-post-input{
   display: flex;
   align-items: center;
}

.create-post-input input{
    padding: 0.5rem;
    width: 40rem;
    height: 3rem;
    font-size: 1.1rem;
    margin-right: 15px;
    border: 5px;
    background: rgb(230, 229, 229);
    border-radius: 5px;
}

.create-post-input input:focus{
    outline: none;
}

.create-post-input button{
    width: 4rem;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
}