.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user-profile-container{
    position: relative;
    width: 38rem;
    padding: 1rem;
}

.user-profile-container .user-name{
    display: flex;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 1rem;
}

.user-profile-container .user-name .name{
    align-self: flex-end;
    font-size: 2rem;
}

.user-profile .user-name .img{
    display: grid;
    place-items: center;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-right: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

.user-profile-container .user-bio{
    margin: 1rem 0;
    font-weight: 600;
}

.user-profile .logout-btn{
    cursor: pointer;
    position: absolute;
    top: 6%;
    right: 3%;
    font-size: 1.5rem;
    background: transparent;
    border: none;
}

.user-allposts{
    width: 38rem;
}

.user-allposts h2{
    margin: 1rem 0;
    text-align: center;
}

.user-allposts > div{
    margin-bottom: 2rem;
}